<section id="one-column-component" class="one-column-component component bgclr-def text-center bg-cover" style="background-image: url(./assets/img/upload/bg-cmp.png);">
    <div class="container-fluid">
        <!-- component title -->
        <h2 class="component-master-title"></h2>
        <p class="component-master-copy"></p>
        <!-- component body -->
        <div class="one-column-component-container ">
            <div id="category-btn-group" class="category-btn-group">

                <form action="/serach" method="GET">
                    <div class="component-search-form">

                        <div class="component-search-form-body">
                            <input type="hidden" id="hidden" class="hidden" value="#2323sd45sa" />
                            <input type="text" name="q" id="search" class="search" placeholder="Search your loacal branch">
                            <input type="submit" id="submit-search" class="submit-search" value="s">
                        </div>

                    </div>
                    <div class="category-btn-copy">
                        <div class=" btn-group-toggle" data-toggle="buttons">

                            <label class="btn btn-cat active">
                                <input type="radio" name="symptpom" value="cats" id="cats"> Cat
                            </label>
                            <label class="btn btn-cat">
                                <input type="radio" name="symptpom" value="dogs" id="dogs"> Dog
                            </label>
                            <label class="btn btn-cat">
                                <input type="radio" name="symptpom" value="rabbit" id="rabbit"> Rabbit
                            </label>
                            <label class="btn btn-cat">
                                <input type="radio" name="symptpom" value="bird" id="bird"> Bird
                            </label>
                            <label class="btn btn-cat">
                                <input type="radio" name="symptpom" value="other" id="othert"> My pets isn't on this list
                            </label>


                        </div>
                    </div>

                </form>
            </div>
            </di>
        </div>
</section>