<section id="one-column-component" class="one-column-component component bgclr-tr text-center bg-center" style="background-image: url(./assets/img/upload/paw.png);">
    <div class="container-fluid">
        <!-- component title -->
        <h2 class="component-master-title"></h2>
        <p class="component-master-copy"></p>
        <!-- component body -->
        <div class="one-column-component-container ">
            <div class="blockquotes">
                <h2 class="blockquotes-title">Pellentesque suscipit sollicitudin sagittis. Mauris odio enim, porta ut purus tempor, ullamcorper scelerisque mauris.</h2>
                <a href="#" class="blockquotes-link">Quoate author</a>
            </div>
        </div>
</section>