<section id="one-column-component" class="one-column-component component career bgclr-tr text-center">
    <div class="container-fluid">
        <!-- component title -->
        <div class="career-page-header">
            <div class="career-page-header-title">
                <h2 class="career-page-title">Vacancies</h2>
            </div>
            <div class="career-page-header-dropdowns">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Dropdown button
                            </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Dropdown button
                                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- component body -->
        <div class="one-column-component-container ">
            <!--- item #1 -->
            <div id="career-list" class="career-list">
                <div class="career-item">
                    <div class="career-list-title">
                        <h4>title</h4>
                    </div>
                    <div class="career-list-location">
                        <span>
                        location
                    </span>
                    </div>
                    <div class="career-list-category">
                        <span>
                        category
                    </span>
                    </div>
                    <div class="career-list-action">
                        <a href="#" class="btn btn-fm">Apply Now</a>
                    </div>
                </div>
                <div class="career-item">
                    <div class="career-list-title">
                        <h4>title</h4>
                    </div>
                    <div class="career-list-location">
                        <span>
                            location
                        </span>
                    </div>
                    <div class="career-list-category">
                        <span>
                            category
                        </span>
                    </div>
                    <div class="career-list-action">
                        <a href="#" class="btn btn-fm">Apply Now</a>
                    </div>
                </div>
                <div class="career-item">
                    <div class="career-list-title">
                        <h4>title</h4>
                    </div>
                    <div class="career-list-location">
                        <span>
                                location
                            </span>
                    </div>
                    <div class="career-list-category">
                        <span>
                                category
                            </span>
                    </div>
                    <div class="career-list-action">
                        <a href="#" class="btn btn-fm">Apply Now</a>
                    </div>
                </div>
                <div class="career-item">
                    <div class="career-list-title">
                        <h4>title</h4>
                    </div>
                    <div class="career-list-location">
                        <span>
                                    location
                                </span>
                    </div>
                    <div class="career-list-category">
                        <span>
                                    category
                                </span>
                    </div>
                    <div class="career-list-action">
                        <a href="#" class="btn btn-fm">Apply Now</a>
                    </div>
                </div>
                <div class="career-item">
                    <div class="career-list-title">
                        <h4>title</h4>
                    </div>
                    <div class="career-list-location">
                        <span>
                            location
                        </span>
                    </div>
                    <div class="career-list-category">
                        <span>
                            category
                        </span>
                    </div>
                    <div class="career-list-action">
                        <a href="#" class="btn btn-fm">Apply Now</a>
                    </div>
                </div>
                <div class="career-item">
                    <div class="career-list-title">
                        <h4>title</h4>
                    </div>
                    <div class="career-list-location">
                        <span>
                                location
                            </span>
                    </div>
                    <div class="career-list-category">
                        <span>
                                category
                            </span>
                    </div>
                    <div class="career-list-action">
                        <a href="#" class="btn btn-fm">Apply Now</a>
                    </div>
                </div>
                <div class="career-item">
                    <div class="career-list-title">
                        <h4>title</h4>
                    </div>
                    <div class="career-list-location">
                        <span>
                            location
                        </span>
                    </div>
                    <div class="career-list-category">
                        <span>
                            category
                        </span>
                    </div>
                    <div class="career-list-action">
                        <a href="#" class="btn btn-fm">Apply Now</a>
                    </div>
                </div>
                <div class="career-item">
                    <div class="career-list-title">
                        <h4>title</h4>
                    </div>
                    <div class="career-list-location">
                        <span>
                                location
                            </span>
                    </div>
                    <div class="career-list-category">
                        <span>
                                category
                            </span>
                    </div>
                    <div class="career-list-action">
                        <a href="#" class="btn btn-fm">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
</section>