<div id="hero-image" class="hero-image pael">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/img/slider/slider1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <div class="carousel-caption-container container-fluid">
                    <div class="carousel-caption-inner">
                        <h2>About Best Friends</h2>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>