<section id="one-column-component" class="one-column-component component bgclr-green text-center">
    <div class="container-fluid">
        <!-- component title -->
        <h2 class="component-master-title">Symptpom checher</h2>
        <p class="component-master-copy">Integer porttitor lacus quis sapien interdum, sed pretium nisl fringilla. Praesent et nisl turpis. Duis euismod eleifend augue, nec porta dolor rutrum tempus.</p>
        <!-- component body -->
        <div class="one-column-component-container">
            <div id="category-btn-group" class="category-btn-group">

                <form action="/serach" method="GET">
                    <div class="category-btn-copy">
                        <div class=" btn-group-toggle" data-toggle="buttons">

                            <label class="btn btn-cat active">
                                <input type="radio" name="symptpom" value="cats" id="cats"> Cat
                            </label>
                            <label class="btn btn-cat">
                                <input type="radio" name="symptpom" value="dogs" id="dogs"> Dog
                            </label>
                            <label class="btn btn-cat">
                                <input type="radio" name="symptpom" value="rabbit" id="rabbit"> Rabbit
                            </label>
                            <label class="btn btn-cat">
                                <input type="radio" name="symptpom" value="bird" id="bird"> Bird
                            </label>
                            <label class="btn btn-cat">
                                <input type="radio" name="symptpom" value="other" id="othert"> My pets isn't on this list
                            </label>


                        </div>
                    </div>
                    <div class="category-btn-submit">
                        <input type="submit" class="btn btn-cat-submit" value="Continue">
                    </div>
                </form>
            </div>
            </di>
        </div>
</section>