<section id="three-column-component" class="three-column-component component bgclr-tr text-center" style="background-image: url('');">
    <div class="container-fluid">
        <!-- component title -->
        <h2 class="component-master-title">Why Best Friends?</h2>

        <!-- component body -->
        <div class="three-column-component-container">
            <div class="component-column">
                <div class="component-column-body">
                    <img src="./assets/img/icon/tt.png" />
                    <h3 class="component-title">23 practices nationwide</h3>
                    <p class="component-copy">Duis feugiat dolor aliquam consectetur elementum. Maecenas a tempor ligula. Nullam aliquet eros elit, ut mollis metus lobortis id. Etiam commodo eget lectus in vehicula. Pellentesque eget mi sit amet justo malesuada congue. Praesent
                        ullamcorper nisi urna, at sagittis magna aliquet et. In finibus ultrices placerat. </p>
                </div>
            </div>
            <div class="component-column">
                <div class="component-column-body">
                    <img src="./assets/img/icon/tt.png" />
                    <h3 class="component-title">23 practices nationwide</h3>
                    <p class="component-copy">Duis feugiat dolor aliquam consectetur elementum. Maecenas a tempor ligula. Nullam aliquet eros elit, ut mollis metus lobortis id. Etiam commodo eget lectus in vehicula. Pellentesque eget mi sit amet justo malesuada congue. Praesent
                        ullamcorper nisi urna, at sagittis magna aliquet et. In finibus ultrices placerat. </p>
                </div>
            </div>
            <div class="component-column">
                <div class="component-column-body">
                    <img src="./assets/img/icon/tt.png" />
                    <h3 class="component-title">23 practices nationwide</h3>
                    <p class="component-copy">Duis feugiat dolor aliquam consectetur elementum. Maecenas a tempor ligula. Nullam aliquet eros elit, ut mollis metus lobortis id. Etiam commodo eget lectus in vehicula. Pellentesque eget mi sit amet justo malesuada congue. Praesent
                        ullamcorper nisi urna, at sagittis magna aliquet et. In finibus ultrices placerat. </p>
                </div>
            </div>
        </div>

        <!-- component extras -->
        <div class="component-search-form">
            <form action="/search/" id="component-search">
                <div class="component-search-form-body">
                    <input type="hidden" id="hidden" class="hidden" value="#2323sd45sa" />
                    <input type="text" id="search" class="search" placeholder="Search your loacal branch">
                    <input type="submit" id="submit-search" class="submit-search" value="s">
                </div>
            </form>
            <div class="search-form-link">
                <div class="search-form-link-body">
                    <span> Not near  you? <a href="#">Search again</a> </span>
                </div>
            </div>
        </div>
</section>