<section id="two-column-component" class="two-column-component component bgclr-tr text-center" style="background-image: url('');">
    <div class="container-fluid">
        <!-- component title -->
        <h2 class="component-master-title"></h2>

        <!-- component body -->
        <div class="two-column-component-container">
            <div class="component-column">
                <div class="component-column-body text-cener">
                    <div class="component-card">
                        <div class="component-card-header">
                            <h3 class="card-title">Card Title</h3>
                        </div>
                        <div class="component-card-body">
                            <p class="card-copy">Nam cursus nibh et ex mollis gravida. Mauris cursus felis nec ipsum vehicula, nec elementum dolor gravida. Proin ornare pulvinar volutpat. Praesent lobortis, est ut sodales convallis, lectus justo bibendum lorem, in tincidunt
                                sapien nisl malesuada urna. Cras non sem ex. Etiam molestie volutpat ipsum, vel euismod nisl dignissim id.</p>
                            <a href="#" class="btn btn-fm">Find out</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="component-column">
                <div class="component-column-body text-cener">
                    <div class="component-card">
                        <div class="component-card-header">
                            <h3 class="card-title">Card Title</h3>
                        </div>
                        <div class="component-card-body">
                            <p class="card-copy">Nam cursus nibh et ex mollis gravida. Mauris cursus felis nec ipsum vehicula, nec elementum dolor gravida. Proin ornare pulvinar volutpat. Praesent lobortis, est ut sodales convallis, lectus justo bibendum lorem, in tincidunt
                                sapien nisl malesuada urna. Cras non sem ex. Etiam molestie volutpat ipsum, vel euismod nisl dignissim id.</p>
                            <a href="#" class="btn btn-fm">Find out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>