<section id="two-column-component" class="two-column-component component bgclr-tr text-left" style="background-image: url('');">
    <div class="container-fluid">
        <!-- component title -->
        <h2 class="component-master-title">Why Best Friends?</h2>

        <!-- component body -->
        <div class="two-column-component-container">
            <div class="component-column">
                <div class="component-column-body">
                    <img src="./assets/img/upload/news.jpg" />
                    <p class="component-filed-category">News</p>
                    <a href="#">
                        <h3 class="component-title">23 practices nationwide</h3>
                    </a>
                    <p class="component-filed-post-date">Posted 14th September 2017</p>
                    <a href="#" class="btn btn-rdm">Read this article</a>
                </div>
            </div>
            <div class="component-column">
                <div class="component-column-body">
                    <img src="./assets/img/upload/news.jpg" />
                    <p class="component-filed-category">News</p>
                    <a href="#">
                        <h3 class="component-title">23 practices nationwide</h3>
                    </a>
                    <p class="component-filed-post-date">Posted 14th September 2017</p>
                    <a href="#" class="btn btn-rdm">Read this article</a>
                </div>
            </div>
        </div>

</section>