<section id="two-column-component" class="two-column-component component bgclr-wh text-center" style="background-image: url('');">
    <div class="container-fluid">
        <!-- component title -->
        <h2 class="component-master-title"></h2>

        <!-- component body -->
        <div class="two-column-component-container">
            <div class="component-column">
                <div class="component-column-body">
                    <img src="./assets/img/upload/puppy.png" class="img-center" />
                </div>
            </div>
            <div class="component-column">
                <div class="component-column-body text-left">
                    <div class="component-normal">
                        <h2 class="title">23 practices nationwide</h2>
                        <h3 class="sub-title">Sub title</h3>
                        <p>&nbsp;</p>
                        <p>
                            Nunc gravida dapibus leo, et vehicula lacus interdum vel. Duis dolor enim, iaculis et tincidunt ut, dignissim et eros. In in convallis tellus. Mauris finibus augue eget leo dictum volutpat. Nulla facilisi. Curabitur mattis nibh sed ante tempor, a viverra
                            urna feugiat. Phasellus felis felis, volutpat sit amet nisl at, consequat rhoncus turpis.
                        </p>
                        <p>&nbsp;</p>

                    </div>
                    <a href="#" class="btn btn-fm">Find out more information</a>
                </div>
            </div>
        </div>

</section>