<section id="video-component" class="video-component bgclr-tr text-center">
    <!-- component title -->
    <h2 class="component-master-title"></h2>
    <p class="component-master-copy"></p>
    <!-- video copmponent-->
    <div class="video-component-copy">
        <video id="vvideo" class="video video-player" data-video="video1">
            <source src=" ./assets/video/video.mp4 " type="video/mp4 ">
        </video>
        <div class="video-component-overlay">
            <div class="video-component-overlay-title">
                <h3 class="video-title">Video title</h3>
            </div>
        </div>
    </div>
    <!-- component body -->
</section>