<section id="video-component" class="video-component bgclr-tr text-center">
    <div class="container">
        <!-- component title -->
        <h2 class="component-master-title"></h2>
        <p class="component-master-copy">Nam cursus nibh et ex mollis gravida. Mauris cursus felis nec ipsum vehicula, nec elementum dolor gravida. Proin ornare pulvinar volutpat. Praesent lobortis, est ut sodales convallis, lectus justo bibendum lorem, in tincidunt sapien nisl malesuada
            urna.
        </p>
        <!-- video copmponent-->
        <div class="video-component-copy">
            <video id="vvideo" class="video video-player" data-video="video1">
            <source src=" ./assets/video/video.mp4 " type="video/mp4 ">
        </video>
            <div class="video-component-overlay">
                <div class="video-component-overlay-title">
                    <h3 class="video-title">Video title</h3>
                </div>
            </div>
        </div>
        <!-- component body -->
        <p>Nam cursus nibh et ex mollis gravida. Mauris cursus felis nec ipsum vehicula, nec elementum dolor gravida. Proin ornare pulvinar volutpat. Praesent lobortis, est ut sodales convallis, lectus justo bibendum lorem, in tincidunt sapien nisl malesuada
        </p>
        <p>Nam cursus nibh et ex mollis gravida. Mauris cursus felis nec ipsum vehicula, nec elementum dolor gravida. Proin ornare pulvinar volutpat. Praesent lobortis, est ut sodales convallis, lectus justo bibendum lorem, in tincidunt sapien nisl malesuada
        </p>
        <p>Nam cursus nibh et ex mollis gravida. Mauris cursus felis nec ipsum vehicula, nec elementum dolor gravida. Proin ornare pulvinar volutpat. Praesent lobortis, est ut sodales convallis, lectus justo bibendum lorem, in tincidunt sapien nisl malesuada
        </p>

    </div>
</section>