<footer id="footer" class="footer" role="contentinfo">
    <div id="footer-content" class="container-fluid">
        <div id="footer-widget" class="footer-widget row">
            <div class="col-md-8">
                <div id="footer-top-row" class="footer-bottom-row row">
                    <div id="footer-social" class="footer-social col-md-3">
                        <ul class="fotoer-menu">
                            <li><a href="#">Find a vet</a></li>
                            <li><a href="#">Pet health</a></li>
                            <li><a href="#">Our service</a></li>
                            <li><a href="#">News</a></li>
                        </ul>
                        <ul class="fotoer-menu">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div id="footer-social" class="footer-social col-md-5">
                        <h5>Healthcare tips & topics</h5>
                        <ul class="fotoer-menu">
                            <li><a href="#">Cats</a></li>
                            <li><a href="#">Kittens</a></li>
                            <li><a href="#">Dogs</a></li>
                            <li><a href="#">Puppies</a></li>
                            <li><a href="#">Rabbits</a></li>
                            <li><a href="#">Exotics</a></li>
                        </ul>
                    </div>
                    <div id="footer-copy" class="footer-copy col-md-4">
                        <ul class="fotoer-menu">
                            <li><a href="#">Pets health Plan</a></li>
                            <li><a href="#">Payment options</a></li>
                            <li><a href="#">RCVS</a></li>
                        </ul>
                        <ul class="fotoer-menu">
                            <li><a href="#">VetPartners Group</a></li>
                            <li><a href="#">Terms and Conditions</a></li>
                            <li><a href="#">Human right slavery policy</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Cookie policy</a></li>
                            <li><a href="#">Site map</a></li>
                        </ul>
                    </div>
                </div>
                <div id="footer-bottom-row" class="footer-bottom-row row">
                    <div id="footer-social" class="footer-social col-md-8">
                        fb
                    </div>
                    <div id="footer-copy" class="footer-copy col-md-4">
                        Copyright 2019 Best Friends
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                img
            </div>
        </div>
    </div>
</footer>