<header id="header" class="header" role="banner">
    <section id="header-topbar">
        <div class="container-fluid">
            <div class="row header-topbar-container">
                <div class="col-md-6">
                    <div class="header-topbar-logo">
                        <h1 class="logo">logo</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="header-topbar-cta">
                        <ul class="header-cta">
                            <li class="header-cta-list">
                                <a href="#" class="header-cta-link">Get in touch</a>
                            </li>
                            <li class="header-cta-list">
                                <a href="#" class="header-cta-link">Careers</a>
                            </li>
                            <li class="header-cta-list">
                                <a href="#" class="header-cta-link"><span class="petsicon pets-search"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="primary-navigation" class="header-navigation">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-pets bg-pets">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Find a vet <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Our services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Yout pets health</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Book an appointment</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>




    <section id="header-breadcrumb" class="header-breadcrumb">
        <div class="container-fluid">
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item "><a href="# ">Home</a></li>
                    <li class="breadcrumb-item "><a href="# ">Library</a></li>
                    <li class="breadcrumb-item active " aria-current="page ">Data</li>
                </ol>
            </nav>
        </div>
    </section>
</header>